body {
    font-family: "Consolas", monospace;
}

#textContainer span {
    /*color: red;*/
    /*position: absolute;*/
    display: inline-block;
    transition: all, 0.5s;
}

#textContainerContainer {
    /*text-align: center;*/
}

#textContainer {
    /*position: relative;*/
    margin: 50px auto;
    width: 1000px;
    height: 500px;
    white-space: preserve;
    text-align: left;
}

.s01 {
    font-size: 200%;
}

/*

.s {

}
*/